.navbar-nav .nav-link {
  float: left;
  color: gold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;>
  font-size: 17px;
  border-color: gold;
}

.navbar{
  background-color:black;
  overflow: hidden;
}

.nav{background-color: black;}

.btn{color:gold;
background-color: black;
border: 1px solid gold}


body{
  padding: 80px;
background-color: Black;
;
 /* background-color: black;
 color:white; */
}
