body{
  padding: 80px;
  overflow-x: hidden;
background-color: Black;
color: white;
 /* background-color: black;
 color:white; */
}

h1, h2 {
text-align: center;
color:gold;
font-family: 'Allura', cursive; }


/* Style the links inside the navigation bar */
.navbar-nav .nav-link {
  float: left;
  color: gold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;>
  font-size: 17px;
  border-color: gold;
}

.navbar{
  background-color:black;
  overflow: hidden;
}
.btn{color:black;
background-color: gold;
border: 1px solid gold}

.nav{background-color: black;}
